body {
	background: lightgrey;
	font-family: oswald;
	text-align: center;
	width: 800px;
	margin: auto;
	}


.text-center{text-align: left;}


#ga-text{color: red;}


h2{
	border: 1px solid black;
	background: white;
	padding-top: 6px;
	padding-bottom: 6px;
	margin:50px;
	width: 500px;
	margin: auto;}


#important-cta {color: red;}

#logo{text-align: center}

#list{
	text-align: left;
	margin:50px;
	width:500px;
	margin: auto;}